In [1]:
import pickle
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
whos

Variable   Type      Data/Info
------------------------------
np         module    <module 'numpy' from '/an<...>kages/numpy/__init__.py'>
pd         module    <module 'pandas' from '/a<...>ages/pandas/__init__.py'>
pickle     module    <module 'pickle' from '/a<...>lib/python3.6/pickle.py'>
sns        module    <module 'seaborn' from '/<...>ges/seaborn/__init__.py'>

In [3]:
!ls

Project 1_demographics.ipynb project_benson_notes.md
Project_Benson_Deck.pptx     test_df.pickle
README.md                    turnstile_180505.txt
Remote-Booth-Station.xls     turnstile_180512.txt
final_testdf.pickle          turnstile_180519.txt
final_testdf_totals.pickle   turnstile_180526.txt
nyc_demo_simplified.csv      turnstile_180602.txt
nynta (1).csv                turnstile_180609.txt
pickle_test.ipynb            turnstile_180616.txt
project_1_benson.ipynb       ~$Project_Benson_Deck.pptx

In [4]:
with open('final_testdf_totals.pickle', 'rb') as read_file:
    mta_traffic = pickle.load(read_file)

In [5]:
whos

Variable      Type              Data/Info
-----------------------------------------
mta_traffic   DataFrame                                  <...>[423388 rows x 3 columns]
np            module            <module 'numpy' from '/an<...>kages/numpy/__init__.py'>
pd            module            <module 'pandas' from '/a<...>ages/pandas/__init__.py'>
pickle        module            <module 'pickle' from '/a<...>lib/python3.6/pickle.py'>
read_file     BufferedReader    <_io.BufferedReader name=<...>al_testdf_totals.pickle'>
sns           module            <module 'seaborn' from '/<...>ges/seaborn/__init__.py'>

In [7]:
may05_2018 = pd.read_csv('turnstile_180505.txt')
may12_2018 = pd.read_csv('turnstile_180512.txt')
may19_2018 = pd.read_csv('turnstile_180519.txt')
may26_2018 = pd.read_csv('turnstile_180526.txt')
jun02_2018 = pd.read_csv('turnstile_180602.txt')
jun09_2018 = pd.read_csv('turnstile_180609.txt')
jun16_2018 = pd.read_csv('turnstile_180616.txt')

source_data = [may05_2018, may12_2018, may19_2018, 
               may26_2018, jun02_2018, jun09_2018, 
               jun16_2018]

all_converted_data = []
for i in source_data:
    converted = i 
    converted['DATE'] = pd.to_datetime(i['DATE'] + ' ' + i['TIME'])
    converted.drop('TIME', axis=1, inplace=True)
    converted.rename(columns = lambda x: x.strip(), inplace=True)   
    all_converted_data.append(converted)
    
            
df = pd.concat(all_converted_data).reset_index()

In [10]:
mta_traffic.reset_index()

             SCP        STATION       DATE  ENTRIES   EXITS  TOTALS
0       02-00-00          59 ST 2018-04-28    609.0   245.0   854.0
1       02-00-00          59 ST 2018-04-29    466.0   178.0   644.0
2       02-00-00          59 ST 2018-04-30   1425.0   529.0  1954.0
3       02-00-00          59 ST 2018-05-01   1313.0   531.0  1844.0
4       02-00-00          59 ST 2018-05-02   1310.0   520.0  1830.0
5       02-00-00          59 ST 2018-05-03   1298.0   543.0  1841.0
6       02-00-00          59 ST 2018-05-04   1304.0   471.0  1775.0
7       02-00-01          59 ST 2018-04-28    501.0   136.0   637.0
8       02-00-01          59 ST 2018-04-29    465.0    85.0   550.0
9       02-00-01          59 ST 2018-04-30   1106.0   289.0  1395.0
10      02-00-01          59 ST 2018-05-01   1002.0   261.0  1263.0
11      02-00-01          59 ST 2018-05-02   1026.0   240.0  1266.0
12      02-00-01          59 ST 2018-05-03   1033.0   277.0  1310.0
13      02-00-01          59 ST 2018-05-04   1052.0   260.0  1312.0
14      02-03-00          59 ST 2018-04-28    276.0  1034.0  1310.0
15      02-03-00          59 ST 2018-04-29    220.0   795.0  1015.0
16      02-03-00          59 ST 2018-04-30    418.0  2035.0  2453.0
17      02-03-00          59 ST 2018-05-01    447.0  2121.0  2568.0
18      02-03-00          59 ST 2018-05-02    462.0  2011.0  2473.0
19      02-03-00          59 ST 2018-05-03    484.0  2177.0  2661.0
20      02-03-00          59 ST 2018-05-04    485.0  1886.0  2371.0
21      02-03-01          59 ST 2018-04-28    751.0  1114.0  1865.0
22      02-03-01          59 ST 2018-04-29    568.0   887.0  1455.0
23      02-03-01          59 ST 2018-04-30   1094.0  1832.0  2926.0
24      02-03-01          59 ST 2018-05-01   1145.0  1859.0  3004.0
25      02-03-01          59 ST 2018-05-02   1103.0  1938.0  3041.0
26      02-03-01          59 ST 2018-05-03   1108.0  1907.0  3015.0
27      02-03-01          59 ST 2018-05-04   1103.0  1779.0  2882.0
28      02-03-02          59 ST 2018-04-28    671.0   736.0  1407.0
29      02-03-02          59 ST 2018-04-29    560.0   642.0  1202.0
...          ...            ...        ...      ...     ...     ...
423358  00-00-01  RIT-ROOSEVELT 2018-06-15      0.0     0.0     0.0
423359  00-00-01  RIT-ROOSEVELT 2018-06-15      0.0     0.0     0.0
423360  00-03-00  RIT-ROOSEVELT 2018-06-09      0.0     0.0     0.0
423361  00-03-00  RIT-ROOSEVELT 2018-06-09   1160.0     2.0  1162.0
423362  00-03-00  RIT-ROOSEVELT 2018-06-10    288.0     6.0   294.0
423363  00-03-00  RIT-ROOSEVELT 2018-06-10   1211.0     5.0  1216.0
423364  00-03-00  RIT-ROOSEVELT 2018-06-11    338.0     8.0   346.0
423365  00-03-00  RIT-ROOSEVELT 2018-06-11    617.0    31.0   648.0
423366  00-03-00  RIT-ROOSEVELT 2018-06-12    348.0     8.0   356.0
423367  00-03-00  RIT-ROOSEVELT 2018-06-12    517.0     7.0   524.0
423368  00-03-00  RIT-ROOSEVELT 2018-06-13    386.0     8.0   394.0
423369  00-03-00  RIT-ROOSEVELT 2018-06-13    481.0     9.0   490.0
423370  00-03-00  RIT-ROOSEVELT 2018-06-14    377.0     9.0   386.0
423371  00-03-00  RIT-ROOSEVELT 2018-06-14    613.0    19.0   632.0
423372  00-03-00  RIT-ROOSEVELT 2018-06-15    314.0     5.0   319.0
423373  00-03-00  RIT-ROOSEVELT 2018-06-15    663.0    17.0   680.0
423374  00-03-01  RIT-ROOSEVELT 2018-06-09    -47.0    -3.0   -50.0
423375  00-03-01  RIT-ROOSEVELT 2018-06-09   1276.0    14.0  1290.0
423376  00-03-01  RIT-ROOSEVELT 2018-06-10    462.0    15.0   477.0
423377  00-03-01  RIT-ROOSEVELT 2018-06-10   1246.0     4.0  1250.0
423378  00-03-01  RIT-ROOSEVELT 2018-06-11    422.0    11.0   433.0
423379  00-03-01  RIT-ROOSEVELT 2018-06-11    921.0    14.0   935.0
423380  00-03-01  RIT-ROOSEVELT 2018-06-12    470.0    12.0   482.0
423381  00-03-01  RIT-ROOSEVELT 2018-06-12    785.0     8.0   793.0
423382  00-03-01  RIT-ROOSEVELT 2018-06-13    533.0     9.0   542.0
423383  00-03-01  RIT-ROOSEVELT 2018-06-13    708.0    10.0   718.0
423384  00-03-01  RIT-ROOSEVELT 2018-06-14    439.0     5.0   444.0
423385  00-03-01  RIT-ROOSEVELT 2018-06-14    941.0    10.0   951.0
423386  00-03-01  RIT-ROOSEVELT 2018-06-15    406.0     7.0   413.0
423387  00-03-01  RIT-ROOSEVELT 2018-06-15    867.0    14.0   881.0

[423388 rows x 6 columns]

In [11]:
with open('all_mta_data_clean.pickle', 'wb') as to_write:
    pickle.dump(df, to_write)

In [12]:
!ls

Project 1_demographics.ipynb project_benson_notes.md
Project_Benson_Deck.pptx     test_df.pickle
README.md                    turnstile_180505.txt
Remote-Booth-Station.xls     turnstile_180512.txt
all_mta_data_clean.pickle    turnstile_180519.txt
final_testdf.pickle          turnstile_180526.txt
final_testdf_totals.pickle   turnstile_180602.txt
nyc_demo_simplified.csv      turnstile_180609.txt
nynta (1).csv                turnstile_180616.txt
pickle_test.ipynb            ~$Project_Benson_Deck.pptx
project_1_benson.ipynb

In [13]:
df

,index,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,DESC,ENTRIES,EXITS
0,0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 00:00:00,REGULAR,6598847,2235829
1,1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 04:00:00,REGULAR,6598864,2235830
2,2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 08:00:00,REGULAR,6598880,2235863
3,3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 12:00:00,REGULAR,6598961,2235955
4,4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 16:00:00,REGULAR,6599175,2236015
5,5,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 20:00:00,REGULAR,6599456,2236074
6,6,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 00:00:00,REGULAR,6599584,2236102
7,7,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 04:00:00,REGULAR,6599593,2236106
8,8,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 08:00:00,REGULAR,6599603,2236123
9,9,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 12:00:00,REGULAR,6599689,2236180
10,10,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 16:00:00,REGULAR,6599850,2236232
11,11,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 20:00:00,REGULAR,6600050,2236280
12,12,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 00:00:00,REGULAR,6600159,2236301
13,13,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 04:00:00,REGULAR,6600165,2236306
14,14,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 08:00:00,REGULAR,6600199,2236430
15,15,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 12:00:00,REGULAR,6600435,2236678
16,16,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 16:00:00,REGULAR,6600769,2236736
17,17,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 20:00:00,REGULAR,6601584,2236830
18,18,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 00:00:00,REGULAR,6601762,2236852
19,19,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 04:00:00,REGULAR,6601772,2236857
20,20,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 08:00:00,REGULAR,6601823,2236982
21,21,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 12:00:00,REGULAR,6601997,2237242
22,22,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 16:00:00,REGULAR,6602286,2237312
23,23,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 20:00:00,REGULAR,6603075,2237383
24,24,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 00:00:00,REGULAR,6603274,2237420
25,25,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 04:00:00,REGULAR,6603283,2237423
26,26,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 08:00:00,REGULAR,6603321,2237558
27,27,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 12:00:00,REGULAR,6603482,2237821
28,28,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 16:00:00,REGULAR,6603787,2237877
29,29,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 20:00:00,REGULAR,6604584,2237940
...,...,...,...,...,...,...,...,...,...,...,...
1379091,196948,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 01:00:00,REGULAR,2926189,387127
1379092,196949,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 05:00:00,REGULAR,2926193,387128
1379093,196950,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 09:00:00,REGULAR,2926460,387132
1379094,196951,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 13:00:00,REGULAR,2926833,387138
1379095,196952,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 17:00:00,REGULAR,2927310,387147
1379096,196953,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 21:00:00,REGULAR,2927754,387152
1379097,196954,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 01:00:00,REGULAR,2927908,387160
1379098,196955,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 05:00:00,REGULAR,2927912,387162
1379099,196956,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 09:00:00,REGULAR,2928224,387164
1379100,196957,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 13:00:00,REGULAR,2928511,387177
1379101,196958,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 17:00:00,REGULAR,2928954,387181
1379102,196959,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 21:00:00,REGULAR,2929296,387185
1379103,196960,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 01:00:00,REGULAR,2929512,387188
1379104,196961,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 05:00:00,REGULAR,2929515,387188
1379105,196962,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 09:00:00,REGULAR,2929829,387194
1379106,196963,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 13:00:00,REGULAR,2930206,387199
1379107,196964,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 17:00:00,REGULAR,2930507,387203
1379108,196965,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 21:00:00,REGULAR,2930914,387209
1379109,196966,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 01:00:00,REGULAR,2931064,387212
1379110,196967,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 05:00:00,REGULAR,2931068,387212
1379111,196968,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 09:00:00,REGULAR,2931353,387214
1379112,196969,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 13:00:00,REGULAR,2931756,387219
1379113,196970,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 17:00:00,REGULAR,2932222,387224
1379114,196971,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 21:00:00,REGULAR,2932697,387229
1379115,196972,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 01:00:00,REGULAR,2932873,387232
1379116,196973,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 05:00:00,REGULAR,2932882,387232
1379117,196974,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 09:00:00,REGULAR,2933103,387236
1379118,196975,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 13:00:00,REGULAR,2933526,387242
1379119,196976,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 17:00:00,REGULAR,2933990,387247
1379120,196977,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 21:00:00,REGULAR,2934393,387256

In [14]:
mta_traffic

                                   ENTRIES   EXITS  TOTALS
SCP      STATION       DATE
02-00-00 59 ST         2018-04-28    609.0   245.0   854.0
                       2018-04-29    466.0   178.0   644.0
                       2018-04-30   1425.0   529.0  1954.0
                       2018-05-01   1313.0   531.0  1844.0
                       2018-05-02   1310.0   520.0  1830.0
                       2018-05-03   1298.0   543.0  1841.0
                       2018-05-04   1304.0   471.0  1775.0
02-00-01 59 ST         2018-04-28    501.0   136.0   637.0
                       2018-04-29    465.0    85.0   550.0
                       2018-04-30   1106.0   289.0  1395.0
                       2018-05-01   1002.0   261.0  1263.0
                       2018-05-02   1026.0   240.0  1266.0
                       2018-05-03   1033.0   277.0  1310.0
                       2018-05-04   1052.0   260.0  1312.0
02-03-00 59 ST         2018-04-28    276.0  1034.0  1310.0
                       2018-04-29    220.0   795.0  1015.0
                       2018-04-30    418.0  2035.0  2453.0
                       2018-05-01    447.0  2121.0  2568.0
                       2018-05-02    462.0  2011.0  2473.0
                       2018-05-03    484.0  2177.0  2661.0
                       2018-05-04    485.0  1886.0  2371.0
02-03-01 59 ST         2018-04-28    751.0  1114.0  1865.0
                       2018-04-29    568.0   887.0  1455.0
                       2018-04-30   1094.0  1832.0  2926.0
                       2018-05-01   1145.0  1859.0  3004.0
                       2018-05-02   1103.0  1938.0  3041.0
                       2018-05-03   1108.0  1907.0  3015.0
                       2018-05-04   1103.0  1779.0  2882.0
02-03-02 59 ST         2018-04-28    671.0   736.0  1407.0
                       2018-04-29    560.0   642.0  1202.0
...                                    ...     ...     ...
00-00-01 RIT-ROOSEVELT 2018-06-15      0.0     0.0     0.0
                       2018-06-15      0.0     0.0     0.0
00-03-00 RIT-ROOSEVELT 2018-06-09      0.0     0.0     0.0
                       2018-06-09   1160.0     2.0  1162.0
                       2018-06-10    288.0     6.0   294.0
                       2018-06-10   1211.0     5.0  1216.0
                       2018-06-11    338.0     8.0   346.0
                       2018-06-11    617.0    31.0   648.0
                       2018-06-12    348.0     8.0   356.0
                       2018-06-12    517.0     7.0   524.0
                       2018-06-13    386.0     8.0   394.0
                       2018-06-13    481.0     9.0   490.0
                       2018-06-14    377.0     9.0   386.0
                       2018-06-14    613.0    19.0   632.0
                       2018-06-15    314.0     5.0   319.0
                       2018-06-15    663.0    17.0   680.0
00-03-01 RIT-ROOSEVELT 2018-06-09    -47.0    -3.0   -50.0
                       2018-06-09   1276.0    14.0  1290.0
                       2018-06-10    462.0    15.0   477.0
                       2018-06-10   1246.0     4.0  1250.0
                       2018-06-11    422.0    11.0   433.0
                       2018-06-11    921.0    14.0   935.0
                       2018-06-12    470.0    12.0   482.0
                       2018-06-12    785.0     8.0   793.0
                       2018-06-13    533.0     9.0   542.0
                       2018-06-13    708.0    10.0   718.0
                       2018-06-14    439.0     5.0   444.0
                       2018-06-14    941.0    10.0   951.0
                       2018-06-15    406.0     7.0   413.0
                       2018-06-15    867.0    14.0   881.0

[423388 rows x 3 columns]

In [17]:
# Leong's algorithm
last_index = test_df.index[-1]
ind = 0
data = []
while ind < last_index:
    data.append(test_df[ind:ind+6].groupby(['SCP', 'STATION']).apply(mta_traffic))
    ind += 6
final_testdf = pd.concat(data)
del data

NameError: name 'test_df' is not defined

In [15]:
# Function to find total differences in ENTRIES and EXITS columns
def mta_traffic(data, freq='D'):
    data.ENTRIES = data.ENTRIES - data.shift(1).ENTRIES
    data.EXITS = data.EXITS - data.shift(1).EXITS
    data = data.set_index(['SCP', 'STATION'])[['ENTRIES', 'EXITS', 'DATE']]
    data = data.resample(freq, on='DATE').sum()
    return data

In [16]:
# Alternate function with more columns
def mta_traffic_v2(data, freq='D'):
    data.ENTRIES = data.ENTRIES - data.shift(1).ENTRIES
    data.EXITS = data.EXITS - data.shift(1).EXITS
    data = data.set_index(['STATION', 'SCP'])[['ENTRIES', 'EXITS', 'DATE']]
    data = data.resample(freq, on='DATE').sum()
    return data