# Project Benson

- MTA Data: http://web.mta.info/developers/turnstile.html
- MTA Field Description: http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt
- MTA Station Key: https://docs.google.com/viewer?url=http%3A%2F%2Fweb.mta.info%2Fdevelopers%2Fresources%2Fnyct%2Fturnstile%2FRemote-Booth-Station.xls

In [517]:
import pandas as pd
import numpy as np

In [518]:
may05_2018 = pd.read_csv('turnstile_180505.txt')
may12_2018 = pd.read_csv('turnstile_180512.txt')
may19_2018 = pd.read_csv('turnstile_180519.txt')
may26_2018 = pd.read_csv('turnstile_180526.txt')
jun02_2018 = pd.read_csv('turnstile_180602.txt')
jun09_2018 = pd.read_csv('turnstile_180609.txt')
jun16_2018 = pd.read_csv('turnstile_180616.txt')

source_data = [may05_2018, may12_2018, may19_2018, 
               may26_2018, jun02_2018, jun09_2018, 
               jun16_2018]

all_converted_data = []
for i in source_data:
    converted = i 
    converted['DATE'] = pd.to_datetime(i['DATE'] + ' ' + i['TIME'])
    converted.drop('TIME', axis=1, inplace=True)
    converted.rename(columns = lambda x: x.strip(), inplace=True)   
    all_converted_data.append(converted)
    
            
df = pd.concat(all_converted_data).reset_index()

In [526]:
# Drop extra index column
df.drop('index', axis=1, inplace=True)

In [527]:
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 00:00:00,REGULAR,6598847,2235829
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 04:00:00,REGULAR,6598864,2235830
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 08:00:00,REGULAR,6598880,2235863
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 12:00:00,REGULAR,6598961,2235955
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 16:00:00,REGULAR,6599175,2236015
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 20:00:00,REGULAR,6599456,2236074
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 00:00:00,REGULAR,6599584,2236102
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 04:00:00,REGULAR,6599593,2236106
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 08:00:00,REGULAR,6599603,2236123
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 12:00:00,REGULAR,6599689,2236180
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 16:00:00,REGULAR,6599850,2236232
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 20:00:00,REGULAR,6600050,2236280
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 00:00:00,REGULAR,6600159,2236301
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 04:00:00,REGULAR,6600165,2236306
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 08:00:00,REGULAR,6600199,2236430
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 12:00:00,REGULAR,6600435,2236678
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 16:00:00,REGULAR,6600769,2236736
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 20:00:00,REGULAR,6601584,2236830
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 00:00:00,REGULAR,6601762,2236852
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 04:00:00,REGULAR,6601772,2236857
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 08:00:00,REGULAR,6601823,2236982
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 12:00:00,REGULAR,6601997,2237242
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 16:00:00,REGULAR,6602286,2237312
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 20:00:00,REGULAR,6603075,2237383
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 00:00:00,REGULAR,6603274,2237420
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 04:00:00,REGULAR,6603283,2237423
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 08:00:00,REGULAR,6603321,2237558
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 12:00:00,REGULAR,6603482,2237821
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 16:00:00,REGULAR,6603787,2237877
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 20:00:00,REGULAR,6604584,2237940
...,...,...,...,...,...,...,...,...,...,...
1379091,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 01:00:00,REGULAR,2926189,387127
1379092,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 05:00:00,REGULAR,2926193,387128
1379093,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 09:00:00,REGULAR,2926460,387132
1379094,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 13:00:00,REGULAR,2926833,387138
1379095,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 17:00:00,REGULAR,2927310,387147
1379096,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 21:00:00,REGULAR,2927754,387152
1379097,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 01:00:00,REGULAR,2927908,387160
1379098,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 05:00:00,REGULAR,2927912,387162
1379099,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 09:00:00,REGULAR,2928224,387164
1379100,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 13:00:00,REGULAR,2928511,387177
1379101,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 17:00:00,REGULAR,2928954,387181
1379102,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 21:00:00,REGULAR,2929296,387185
1379103,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 01:00:00,REGULAR,2929512,387188
1379104,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 05:00:00,REGULAR,2929515,387188
1379105,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 09:00:00,REGULAR,2929829,387194
1379106,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 13:00:00,REGULAR,2930206,387199
1379107,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 17:00:00,REGULAR,2930507,387203
1379108,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 21:00:00,REGULAR,2930914,387209
1379109,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 01:00:00,REGULAR,2931064,387212
1379110,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 05:00:00,REGULAR,2931068,387212
1379111,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 09:00:00,REGULAR,2931353,387214
1379112,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 13:00:00,REGULAR,2931756,387219
1379113,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 17:00:00,REGULAR,2932222,387224
1379114,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 21:00:00,REGULAR,2932697,387229
1379115,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 01:00:00,REGULAR,2932873,387232
1379116,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 05:00:00,REGULAR,2932882,387232
1379117,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 09:00:00,REGULAR,2933103,387236
1379118,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 13:00:00,REGULAR,2933526,387242
1379119,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 17:00:00,REGULAR,2933990,387247
1379120,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 21:00:00,REGULAR,2934393,387256

In [ ]:
# Cleans single data file 
def clean_data(data):
    data['DATE'] = pd.to_datetime(data['DATE'] + ' ' + data['TIME'])
    data.drop('TIME', axis=1, inplace=True)
    data.rename(columns = lambda x: x.strip(), inplace=True)   
    return data

In [ ]:
# Function to find total differences in ENTRIES and EXITS columns
def mta_traffic(data, freq='D'):
    data.ENTRIES = data.ENTRIES - data.shift(1).ENTRIES
    data.EXITS = data.EXITS - data.shift(1).EXITS
    data = data.set_index(['SCP', 'STATION'])[['ENTRIES', 'EXITS', 'DATE']]
    data = data.resample(freq, on='DATE').sum()
    return data

In [ ]:
# Import one of the data sets
may05_2018_test = pd.read_csv('turnstile_180505.txt')

In [ ]:
# Clean data set
may05_clean = clean_data(may05_2018_test)

In [ ]:
# Apply totaling function
may05_clean = may05_clean.groupby(['SCP', 'STATION']).apply(mta_traffic)

In [ ]:
# Create TOTALS column
may05_clean['TOTALS'] = may05_clean['ENTRIES'] + may05_clean['EXITS']

In [ ]:
may05_clean

In [ ]:
# Create copy of full df for testing
test_df = df.copy()

In [ ]:
# Apply function to data set
# dataset = dataset.groupby(['STATION', 'SCP']).apply(mta_traffic)

In [ ]:
# Add TOTALS column totaling entries and exits
#test_df['TOTALS'] = test_df['ENTRIES'] + test_df['EXITS']

In [ ]:
def mta_traffic_v2(data, freq='D'):
    data.ENTRIES = data.ENTRIES - data.shift(1).ENTRIES
    data.EXITS = data.EXITS - data.shift(1).EXITS
    data = data.set_index(['STATION', 'SCP'])[['ENTRIES', 'EXITS', 'DATE']]
    data = data.resample(freq, on='DATE').sum()
    return data

In [ ]:
may12_2018_test = pd.read_csv('turnstile_180512.txt')
may12_clean_test = clean_data(may12_2018_test)
may12_clean_test = may12_clean_test.groupby(['STATION', 'SCP']).apply(mta_traffic_v2)
may12_clean_test['TOTALS'] = may12_clean_test['ENTRIES'] + may12_clean_test['EXITS']

In [ ]:
may12_clean_test

In [528]:
# Copy entire df for testing
test_df = df.copy()

In [529]:
test_df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 00:00:00,REGULAR,6598847,2235829
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 04:00:00,REGULAR,6598864,2235830
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 08:00:00,REGULAR,6598880,2235863
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 12:00:00,REGULAR,6598961,2235955
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 16:00:00,REGULAR,6599175,2236015
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 20:00:00,REGULAR,6599456,2236074
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 00:00:00,REGULAR,6599584,2236102
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 04:00:00,REGULAR,6599593,2236106
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 08:00:00,REGULAR,6599603,2236123
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 12:00:00,REGULAR,6599689,2236180
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 16:00:00,REGULAR,6599850,2236232
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 20:00:00,REGULAR,6600050,2236280
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 00:00:00,REGULAR,6600159,2236301
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 04:00:00,REGULAR,6600165,2236306
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 08:00:00,REGULAR,6600199,2236430
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 12:00:00,REGULAR,6600435,2236678
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 16:00:00,REGULAR,6600769,2236736
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-30 20:00:00,REGULAR,6601584,2236830
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 00:00:00,REGULAR,6601762,2236852
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 04:00:00,REGULAR,6601772,2236857
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 08:00:00,REGULAR,6601823,2236982
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 12:00:00,REGULAR,6601997,2237242
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 16:00:00,REGULAR,6602286,2237312
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-01 20:00:00,REGULAR,6603075,2237383
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 00:00:00,REGULAR,6603274,2237420
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 04:00:00,REGULAR,6603283,2237423
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 08:00:00,REGULAR,6603321,2237558
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 12:00:00,REGULAR,6603482,2237821
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 16:00:00,REGULAR,6603787,2237877
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-05-02 20:00:00,REGULAR,6604584,2237940
...,...,...,...,...,...,...,...,...,...,...
1379091,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 01:00:00,REGULAR,2926189,387127
1379092,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 05:00:00,REGULAR,2926193,387128
1379093,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 09:00:00,REGULAR,2926460,387132
1379094,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 13:00:00,REGULAR,2926833,387138
1379095,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 17:00:00,REGULAR,2927310,387147
1379096,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-11 21:00:00,REGULAR,2927754,387152
1379097,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 01:00:00,REGULAR,2927908,387160
1379098,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 05:00:00,REGULAR,2927912,387162
1379099,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 09:00:00,REGULAR,2928224,387164
1379100,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 13:00:00,REGULAR,2928511,387177
1379101,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 17:00:00,REGULAR,2928954,387181
1379102,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-12 21:00:00,REGULAR,2929296,387185
1379103,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 01:00:00,REGULAR,2929512,387188
1379104,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 05:00:00,REGULAR,2929515,387188
1379105,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 09:00:00,REGULAR,2929829,387194
1379106,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 13:00:00,REGULAR,2930206,387199
1379107,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 17:00:00,REGULAR,2930507,387203
1379108,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-13 21:00:00,REGULAR,2930914,387209
1379109,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 01:00:00,REGULAR,2931064,387212
1379110,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 05:00:00,REGULAR,2931068,387212
1379111,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 09:00:00,REGULAR,2931353,387214
1379112,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 13:00:00,REGULAR,2931756,387219
1379113,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 17:00:00,REGULAR,2932222,387224
1379114,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-14 21:00:00,REGULAR,2932697,387229
1379115,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 01:00:00,REGULAR,2932873,387232
1379116,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 05:00:00,REGULAR,2932882,387232
1379117,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 09:00:00,REGULAR,2933103,387236
1379118,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 13:00:00,REGULAR,2933526,387242
1379119,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 17:00:00,REGULAR,2933990,387247
1379120,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,2018-06-15 21:00:00,REGULAR,2934393,387256

In [530]:
last_index = test_df.index[-1]
ind = 0
data = []
while ind < last_index:
    data.append(test_df[ind:ind+6].groupby(['SCP', 'STATION']).apply(mta_traffic))
    ind += 6
final_testdf = pd.concat(data)
del data

In [532]:
final_testdf.sample(100)

                                     ENTRIES   EXITS
SCP      STATION         DATE
01-00-02 FLUSHING AV     2018-05-27     71.0    35.0
00-06-04 AVENUE H        2018-06-14      0.0     0.0
00-05-01 47-50 STS ROCK  2018-04-30      0.0     0.0
00-03-03 FRESH POND RD   2018-06-13    516.0   257.0
01-05-01 NEW UTRECHT AV  2018-05-23      0.0     0.0
         KINGS HWY       2018-06-08      0.0     0.0
00-00-03 WOODHAVEN BLVD  2018-05-27    458.0   198.0
00-00-04 79 ST           2018-05-08      0.0     0.0
00-03-03 LEXINGTON AV/53 2018-06-04    920.0  1799.0
01-01-02 LACKAWANNA      2018-05-14     38.0   169.0
00-05-00 FAR ROCKAWAY    2018-05-02      0.0     0.0
00-06-01 CANAL ST        2018-05-10    625.0   772.0
00-00-03 104 ST          2018-05-14    212.0   236.0
00-00-02 HARRISON        2018-06-08    479.0   124.0
         72 ST-2 AVE     2018-05-04   1709.0  1414.0
01-00-02 116 ST          2018-05-04    975.0 -1261.0
01-06-00 BRIGHTON BEACH  2018-06-11      0.0     0.0
00-00-05 PAVONIA/NEWPORT 2018-05-05    273.0  1020.0
00-00-01 MORGAN AV       2018-05-28    524.0   199.0
         CORTELYOU RD    2018-06-03    160.0    78.0
         NEWARK HW BMEBE 2018-04-28     23.0     2.0
01-00-00 CARROLL ST      2018-05-20    477.0    39.0
00-00-02 CRESCENT ST     2018-05-05    -96.0    74.0
02-00-02 BOROUGH HALL    2018-05-16    908.0   401.0
00-00-01 81 ST-MUSEUM    2018-05-07    506.0   127.0
01-03-00 SPRING ST       2018-05-14    259.0   241.0
00-00-00 INTERVALE AV    2018-05-29    529.0  1422.0
00-03-02 72 ST-2 AVE     2018-06-08   2750.0  1667.0
00-00-01 VAN SICLEN AVE  2018-06-14    477.0   246.0
00-02-01 QUEENS PLAZA    2018-05-24      0.0     0.0
...                                      ...     ...
00-00-00 FREEMAN ST      2018-05-26      0.0     0.0
         QUEENS PLAZA    2018-05-30    505.0  1044.0
03-06-01 14 ST-UNION SQ  2018-05-14   1230.0  1187.0
00-03-00 CHAMBERS ST     2018-05-02   1216.0  1579.0
03-06-01 14 ST           2018-06-07    137.0   975.0
01-00-02 72 ST           2018-06-06   1356.0  1230.0
00-00-03 CHAMBERS ST     2018-06-02      0.0     0.0
02-00-02 FOREST HILLS 71 2018-06-01   1328.0   201.0
01-06-00 DITMAS AV       2018-05-26    176.0    16.0
02-03-03 TIMES SQ-42 ST  2018-05-11   3242.0   847.0
02-03-00 59 ST COLUMBUS  2018-06-11    194.0   259.0
00-00-02 STEINWAY ST     2018-06-12   2014.0   783.0
02-03-01 SOUTH FERRY     2018-06-09      0.0     0.0
00-00-02 CASTLE HILL AV  2018-05-03    138.0   439.0
00-00-05 23 ST           2018-06-15      0.0     0.0
00-00-01 14 ST-UNION SQ  2018-05-04    493.0  1410.0
02-00-00 KINGS HWY       2018-05-29    600.0  1137.0
00-00-01 34 ST-PENN STA  2018-05-03      0.0     0.0
00-00-02 W 8 ST-AQUARIUM 2018-05-11    345.0   209.0
01-06-00 EAST BROADWAY   2018-06-06     42.0    39.0
01-05-00 FORDHAM RD      2018-06-05      4.0     0.0
00-00-02 20 AV           2018-05-01    176.0   277.0
00-00-01 181 ST          2018-05-28      0.0     0.0
         FULTON ST       2018-05-21   1038.0   671.0
01-00-03 CROWN HTS-UTICA 2018-06-06      0.0     0.0
00-00-03 GRD CNTRL-42 ST 2018-06-05   1989.0   223.0
00-06-01 CANARSIE-ROCKAW 2018-05-14    939.0    11.0
00-00-02 86 ST           2018-06-08   1462.0   129.0
01-00-03 3 AV-149 ST     2018-05-05     54.0    21.0
01-06-02 15 ST-PROSPECT  2018-05-25     49.0   147.0

[100 rows x 2 columns]

In [533]:
final_testdf_copy = final_testdf.copy()

In [534]:
final_testdf_totals = final_testdf.copy()

In [535]:
final_testdf_totals['TOTALS'] = final_testdf['ENTRIES'] + final_testdf['EXITS']

In [536]:
final_testdf_totals

                                   ENTRIES   EXITS  TOTALS
SCP      STATION       DATE
02-00-00 59 ST         2018-04-28    609.0   245.0   854.0
                       2018-04-29    466.0   178.0   644.0
                       2018-04-30   1425.0   529.0  1954.0
                       2018-05-01   1313.0   531.0  1844.0
                       2018-05-02   1310.0   520.0  1830.0
                       2018-05-03   1298.0   543.0  1841.0
                       2018-05-04   1304.0   471.0  1775.0
02-00-01 59 ST         2018-04-28    501.0   136.0   637.0
                       2018-04-29    465.0    85.0   550.0
                       2018-04-30   1106.0   289.0  1395.0
                       2018-05-01   1002.0   261.0  1263.0
                       2018-05-02   1026.0   240.0  1266.0
                       2018-05-03   1033.0   277.0  1310.0
                       2018-05-04   1052.0   260.0  1312.0
02-03-00 59 ST         2018-04-28    276.0  1034.0  1310.0
                       2018-04-29    220.0   795.0  1015.0
                       2018-04-30    418.0  2035.0  2453.0
                       2018-05-01    447.0  2121.0  2568.0
                       2018-05-02    462.0  2011.0  2473.0
                       2018-05-03    484.0  2177.0  2661.0
                       2018-05-04    485.0  1886.0  2371.0
02-03-01 59 ST         2018-04-28    751.0  1114.0  1865.0
                       2018-04-29    568.0   887.0  1455.0
                       2018-04-30   1094.0  1832.0  2926.0
                       2018-05-01   1145.0  1859.0  3004.0
                       2018-05-02   1103.0  1938.0  3041.0
                       2018-05-03   1108.0  1907.0  3015.0
                       2018-05-04   1103.0  1779.0  2882.0
02-03-02 59 ST         2018-04-28    671.0   736.0  1407.0
                       2018-04-29    560.0   642.0  1202.0
...                                    ...     ...     ...
00-00-01 RIT-ROOSEVELT 2018-06-15      0.0     0.0     0.0
                       2018-06-15      0.0     0.0     0.0
00-03-00 RIT-ROOSEVELT 2018-06-09      0.0     0.0     0.0
                       2018-06-09   1160.0     2.0  1162.0
                       2018-06-10    288.0     6.0   294.0
                       2018-06-10   1211.0     5.0  1216.0
                       2018-06-11    338.0     8.0   346.0
                       2018-06-11    617.0    31.0   648.0
                       2018-06-12    348.0     8.0   356.0
                       2018-06-12    517.0     7.0   524.0
                       2018-06-13    386.0     8.0   394.0
                       2018-06-13    481.0     9.0   490.0
                       2018-06-14    377.0     9.0   386.0
                       2018-06-14    613.0    19.0   632.0
                       2018-06-15    314.0     5.0   319.0
                       2018-06-15    663.0    17.0   680.0
00-03-01 RIT-ROOSEVELT 2018-06-09    -47.0    -3.0   -50.0
                       2018-06-09   1276.0    14.0  1290.0
                       2018-06-10    462.0    15.0   477.0
                       2018-06-10   1246.0     4.0  1250.0
                       2018-06-11    422.0    11.0   433.0
                       2018-06-11    921.0    14.0   935.0
                       2018-06-12    470.0    12.0   482.0
                       2018-06-12    785.0     8.0   793.0
                       2018-06-13    533.0     9.0   542.0
                       2018-06-13    708.0    10.0   718.0
                       2018-06-14    439.0     5.0   444.0
                       2018-06-14    941.0    10.0   951.0
                       2018-06-15    406.0     7.0   413.0
                       2018-06-15    867.0    14.0   881.0

[423388 rows x 3 columns]

In [537]:
# Pickle processed data frame
import pickle

In [538]:
with open('final_testdf.pickle', 'wb') as to_write:
    pickle.dump(final_testdf, to_write)

In [540]:
with open('test_df.pickle', 'wb') as to_write:
    pickle.dump(test_df, to_write)

Project 1_demographics.ipynb test_df.pickle
Project_Benson_Deck.pptx     turnstile_180505.txt
README.md                    turnstile_180512.txt
Remote-Booth-Station.xls     turnstile_180519.txt
final_testdf.pickle          turnstile_180526.txt
nyc_demo_simplified.csv      turnstile_180602.txt
nynta (1).csv                turnstile_180609.txt
project_1_benson.ipynb       turnstile_180616.txt
project_benson_notes.md      ~$Project_Benson_Deck.pptx